:root {
    --color-primary: rgba(50, 102, 205, 1);
    --color-secondary: rgba(15, 30, 61, 1);
    --color-terciario: rgba(17, 79, 204);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mouse Memoirs", serif;
    font-size: 1.5rem;
}
body {
    background-color: var(--color-secondary);
    color: #fff;
    overflow-x: hidden;
    width: 100%;
}
.header {
    height: auto;
    width: 100vw;
}
.portada {
    text-align: center;
    width: 100vw;
}
.portada-video video {
    width: 99vw;
    height: 98vh;
}
.presentacion {
    justify-self: center;
    text-align: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 20px 0;
    width: 70vw;
}
.presentacion h1 {
    font-size: 100px;
    font-weight: 100;
    padding-bottom: 20px;
    color: var(--color-primary);
}
.presentacion p {
    font-size: 40px;
}
.bxs-music {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    border: 3px solid rgba(50, 102, 205, 0.281);
    border-radius: 50%;
    background-color: #ffffff25;
    z-index: 1;
}
.bx-chevrons-down {
    position: absolute;
    bottom: 20px;
    left: 48%;
    font-size: 60px;
    animation: floatAnimation 1.5s infinite ease-in-out;
}
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px); /* Baja 15px */
    }
    100% {
        transform: translateY(0);
    }
}
.cuenta-regresiva {
    text-align: center;
    padding: 60px;
}
.cuenta-regresiva h4 {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 40px;
    color: var(--color-primary);
}
.fecha {
    display: flex;
    justify-content: center;
}
.fecha div {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.horas, 
.minutos, 
.segundos {
    border-left: 1px solid white;
}
.numero {
    font-size: 70px;
    color: var(--color-primary);
}
.letra {
    font-size: 30px;
    font-weight: 100;
}
.main {
    background-color: rgba(222, 222, 222, 0.11);
}
.estructura {
    text-align: center;
    position: relative;
    padding: 30px;
}
.estructura h4 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--color-primary);
    padding: 20px 0;
    border-bottom: 1px solid white;
}
.estructura h5 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary);
    padding: 20px 0;
}
.estructura p {
    padding-bottom: 20px;
}
.estructura a {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    list-style-type: none;
    text-decoration: none;
}
.adicionales {
    padding: 30px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.musica h5, 
.vestimenta h5,
.regalos h5 {
    color: var(--color-terciario);
}
.musica a,
.vestimenta a,
.regalos a {
    background-color: var(--color-terciario);
}
.regalos button,
.vestimenta button {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: var(--color-terciario);
    border: none;
}
.musica, 
.vestimenta,
.regalos {
    background-color: rgba(240, 248, 255, 0.432);
    padding: 30px;
    border-radius: 20px;
    width: 30vw;
}
.musica i, 
.vestimenta i,
.regalos i {
    font-size: 50px;
}
.vestimenta p,
.regalos p {
    padding-bottom: 60px;
}
.footer {
    text-align: center;
    padding: 30px;
    
}
.footer h3 {
    font-size: 2em;
    font-weight: 200;
    color: var(--color-secondary);
}
.footer h5 {
    font-weight: 100;
}
.footer-a {
    display: flex;
    justify-content: space-around;
    padding-right: 120px;
}
.footer-a a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    padding: 30px;
}
.footer iframe {
    width: 50vw;
    height: 60vh;
    border-radius: 20px;
}
@media screen and (max-width: 991px) {
    .adicionales {
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding-top: 70px;
    }
    .musica, 
    .vestimenta,
    .regalos {
        width: 70vw;
    }
    .musica button, 
    .vestimenta button,
    .regalos button {
        width: auto;
    }
    .footer h5 {
        padding-bottom: 15px;
    }
    .footer-a {
        display: flex;
        flex-direction: column-reverse;
        padding-right: 0;
        border-top: 1px solid white;
    }
    .footer iframe {
        width: 80vw;
        height: 50vh;
        border-radius: 20px;
    }
}

@media screen and (max-width: 500px) {
    .cuenta-regresiva {
        padding: 20px;
    }
    .fecha div {
        padding: 0 20px;
    }
    .numero {
        font-size: 50px;
    }
    .letra {
        font-size: 35px;
    }
    .fecha div {
        padding: 0 15px;
    }
    .musica {
        height: 50vh;
        width: 90vw;
        padding: 0px;
    } 
    .vestimenta,
    .regalos {
        height: auto;
        width: 90vw;
        padding: 0px;
    }
}
